@import "tailwindcss";

@theme {
  --color-bg-base: #09090b;
  --color-card-primary: #111113;
  --color-card-secondary: #18181b;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg-base);
  color: #f4f4f5;
}

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
